body {
    background-color: #1a1a1a;
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(145, 145, 145, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: calc(100% - 10px); 
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #444;
    color: #fff; 
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f3f6f8; 
    color: #130e0e; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
}
button:hover {
    background-color: #077cf1;
}
